* {margin:0; padding:0;}

body{
    font-family:"athena",sans-serif;
}


.upper{
   display: flex;
   justify-content: center; 
   align-items: center;
   margin: 0 auto;
   height: 700px;
   width: 100%;
    top: 0px;
    background-image: url("../image/Banniere fond site/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


h1{
    position: absolute;
    color: white;
    font-size: 80px;
}
.project{
     margin: 0px;
     padding-bottom: 20px;
     width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../image/Banniere fond site/DSC_0001-2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

 }

.nav{
    padding-top: 10px;
}
.navigateur{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-attachment: fixed;
}

.navigateur li{
    list-style: none;
    margin: 10px auto;
}

.navigateur li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.galerie{
    margin: 0px 5%;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.container a {
    display: flex;
    width: 30vw;
    height: 30vw;
    justify-content: center;
    align-items: center;
}

.imgal{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    object-fit: cover;
}

.imgal:hover{
    transform: scale(1.15);
    /*border-radius: 5%;*/
}


.footer{
    color: white;
    height: 100%;
    background-color: rgba(128, 128, 118, 0.5);
}


.blur{
    transition: transform 0.3s ease;
    filter: blur(5px);
}