* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CustomFont";
    src: url("../font/didot-2/Didot.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "CustomFont", sans-serif;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 700px;
    width: 100%;
    top: 0px;
    background-image: url("../image/Banniere fond site/DSC_0029.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    position: absolute;
    color: white;
    font-size: 6em;
    text-align: center;
}

a {
    text-decoration: none;
}
.project {
    margin: 0px;
    padding-bottom: 45px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../image/Banniere fond site/Peinture\ metrage\ 50cm.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    padding-top: 10px;
}
.navigateur {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-attachment: fixed;
}

.navigateur li {
    list-style: none;
    margin: 10px auto;
}

.navigateur li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.galerie {
    margin: 0px 5vw;
    margin-bottom: 15px;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.container a {
    position: relative;
    width: 30vw;
    height: 30vw;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.imgal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container a:hover {
    transform: scale(1.15);
    z-index: 2;
}

.container a:hover p {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.container a p {
    position: absolute;
    word-break: break-all;
    width: 100%;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 4em;
    opacity: 0;
    text-transform: uppercase;
    text-align: center;
    transition: opacity 0.5s ease;
    transform: translate(-50%, -50%);
}

@media (max-width: 1260px) {
    .container a p {
        font-size: 3em;
    }
}

@media (max-width: 960px) {
    h1 {
        font-size: 5em;
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }
    .container a {
        width: 45vw;
        height: 45vw;
    }
}

@media (max-width: 740px) {
    h1 {
        font-size: 4em;
    }
}

@media (max-width: 680px) {
    .container {
        grid-template-columns: 1fr;
    }
    .container a {
        width: 90vw;
        height: 90vw;
    }
    .container a:hover {
        transform: scale(1.05);
        z-index: 2;
    }
}
