* {margin:0; padding:0;}


@font-face {
    font-family: 'CustomFont';
    src: url('../font/didot-2/Didot.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'CustomFont', sans-serif;
}

li{
    list-style: none;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
    background-image: url("../image/Banniere fond site/2.1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: white;
    font-size: 150px;
    text-transform: uppercase;
}

.project{
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 120px;
}

.mosaique{
    padding: 55px 0 40px 40px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 6px;
}

.mosaique a{
    width: 22vw;
    height: 22vw;
}

.mosaique img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.mosaique img:hover{
    transform: scale(1.15) ;
}

.description{
    column-count: 2;

    column-gap: 20px;
    margin: 20px;
    padding: 55px 20px 40px 20px;
    text-align: justify;
    font-size: 22px;
}

.pdf{
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.pdf h2{
    padding-left: 40px;
    text-align: center;
    font-size: 50px;
}

.pdf a{
    width: 22vw;
    height: 22vw;
}

.pdf img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}